package templates

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="ru">
		<head>
			<meta charset="utf-8"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/style.css"/>
			<script src="/static/htmx.min.js"></script>
		</head>
		<body>
			<header><a href="/">replayreport</a></header>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
